<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AtonProviderHost" type="Aton.ServiceHost.ProviderConfigHandler.AtonProviderConfiguration, Aton.Core, Version=1.0, Culture=neutral, PublicKeyToken=11e5adb294f0d90f"/>
     
    <section name="AtonServiceHost" type=" Aton.ServiceHost.ServiceConfigHandler.AtonServiceConfiguration, Aton.Core, Version=1.0, Culture=neutral, PublicKeyToken=11e5adb294f0d90f"/>
  </configSections>

  <appSettings>
    <add key="ProjectCode" value="ServiceCar"/>
    <add key="ServiceName" value="AtonServiceHost"/>
    <add key="ServiceDesc" value="AtonServiceHost"/>
  </appSettings>
  
  <AtonProviderHost>
    <AtonProviderMode IsDelayLoad="true"/>
    <AtonProviders>
      <AtonProvider Name="LoggerProvider" Ver="V2.0" Desc="日志组件V2.0" Type="Aton.Core.LoggerProvider.Log4NetLogger,Aton.Core.LoggerProvider, Version=1.0, Culture=neutral, PublicKeyToken=11e5adb294f0d90f"/>
      <AtonProvider Name="ConfigProvider" Ver="V2.0" Desc="配置组件V2.0" Type="Aton.ServiceHostProvider.DbConfigProvider,Aton.ServiceHostProvider, Version=1.0, Culture=neutral, PublicKeyToken=11e5adb294f0d90f"/>
      <AtonProvider Name="ParameterProvider" Ver="V2.0" Desc="数据字典组件V2.0" Type="Aton.Core.ParameterProvider.DbParameterProvider,Aton.Core.ParameterProvider, Version=1.0, Culture=neutral, PublicKeyToken=11e5adb294f0d90f"/>
    </AtonProviders>
  </AtonProviderHost>

  <!--托管服务列表-->
  <AtonServiceHost>
    <AtonServiceSummary ServiceName="AtonServiceHost" ServiceDesc="Aton托管服务容器"/>
    <AtonServices>
      <AtonService Name="SMSService" Type="Aton.Services.SMSService.SMSService, Aton.Services.SMSService"/>
    </AtonServices>
  </AtonServiceHost>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
