<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AtonProviderHost" type="Aton.ServiceHost.ProviderConfigHandler.AtonProviderConfiguration, Aton.Core, Version=1.0, Culture=neutral, PublicKeyToken=11e5adb294f0d90f"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="AtonServiceHost" type=" Aton.ServiceHost.ServiceConfigHandler.AtonServiceConfiguration, Aton.Core, Version=1.0, Culture=neutral, PublicKeyToken=11e5adb294f0d90f"/>
  </configSections>

  <appSettings>
    <add key="ProjectCode" value="ServiceCar"/>
    <add key="TraceFileUri" value="H:\\log.txt"/>
    <add key="ServiceName" value="ServiceHost"/>
  </appSettings>

  <AtonProviderHost>
    <AtonProviderMode IsDelayLoad="true"/>
    <AtonProviders>
      <AtonProvider Name="LoggerProvider" Ver="V2.0" Desc="日志组件V2.0" Type="Aton.Core.LoggerProvider.Log4NetLogger,Aton.Core.LoggerProvider, Version=1.0, Culture=neutral, PublicKeyToken=11e5adb294f0d90f"/>
      <AtonProvider Name="ConfigProvider" Ver="V2.0" Desc="配置组件V2.0" Type="Aton.ServiceHostProvider.DbConfigProvider,Aton.ServiceHostProvider, Version=1.0, Culture=neutral, PublicKeyToken=11e5adb294f0d90f"/>
      <AtonProvider Name="ParameterProvider" Ver="V2.0" Desc="数据字典组件V2.0" Type="Aton.Core.ParameterProvider.DbParameterProvider,Aton.Core.ParameterProvider, Version=1.0, Culture=neutral, PublicKeyToken=11e5adb294f0d90f"/>
    </AtonProviders>
  </AtonProviderHost>

  <!--托管服务列表-->
  <AtonServiceHost>
    <AtonServiceSummary ServiceName="ServiceHost" ServiceDesc="ServiceHost"/>
    <AtonServices>
      <AtonService Name="AnnualCheck" Type="ServiceCar.Services.AnnualCheck, ServiceCar.Services" Desc="AnnualCheck" />
      <AtonService Name="InsuranceExpire" Type="ServiceCar.Services.InsuranceExpire, ServiceCar.Services" Desc="InsuranceExpire" />
      <AtonService Name="DriverLicenseExpire" Type="ServiceCar.Services.DriverLicenseExpire, ServiceCar.Services" Desc="DriverLicenseExpire" />
    </AtonServices>
  </AtonServiceHost>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
